html {
  height: 100%;
}
body {
  height: 100%;
}
.main {
  height: 100%;
}

.output-options__buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  background: #000;
  width: 48%;
}

.output-options__buttons button svg {
  margin-left: 5px;
}

.output-options__buttons button.active {
  background: #9747ff;
}

.options-box__next-button {
  color: #9747ff;
}

.options-box__next-button svg {
  margin-left: 5px;
}
